.atma {
    font-family: 'Atma';
    src: url(../fonts/Atma-SemiBold.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
    /* Add additional font properties here if needed */
}
.alegreya {
    font-family: 'Alegreya-Sans-Black';
    src: url(../fonts/AlegreyaSans-BlackItalic.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
    /* Add additional font properties here if needed */
}
.oilvarebase {
    font-family: 'OilvareBase';
    src: url(../fonts/OilvareBase-Regular.ttf) format('ttf');
    /* Add additional font properties here if needed */
}


.icon-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las filas se envuelvan a medida que el espacio se reduce */
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilos para los elementos dentro de cada fila */
.icon-option {
    text-align: center;
    flex: 1;
    max-width: 150px; /* Ancho fijo para cada elemento */
    margin: 10px; /* Espacio entre elementos */
}

.icon-option img {
    max-width: 100%; /* Hace que las imágenes se ajusten al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

.icon-option p {
    margin-top: 10px;
}





@font-face{
    font-family:AB;
    src: url(../fonts/AB.ttf);
}
h1{
    font-family: 'AB', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
@font-face{
    font-family: 'ASB', sans-serif;
    src: url(../fonts/ASB.ttf);
}
h2{
    font-family: 'ASB', sans-serif;
}
/* Estilos para el body */
body {
 /* Elimina el relleno predeterminado del body (opcional) */
    text-align: center;
    background-color: rgb(228, 228, 228);
}
/* Estilos para el encabezado */
.header-main {
    background: linear-gradient(to right bottom, #1A4789 49.5%, #FFFF 50%);
    top: -30px;
    bottom: -15px;
    height: 130px;
    width: 140%;
    /* Ajusta la altura de la navbar según sea necesario */
}

/* Estilo para el contenedor de la navbar */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* Estilo para los elementos de la navbar */
.header-brand {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

/* Estilo para la barra de navegación */


/* Estilo para los elementos del menú */
